---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<h1>test1</h1>
	<h2>TEST2</h2>
	<h5>test5</h5>
	<p>YOYOYO c'est le jour de la bosse</p>
	<a href="">je suis pas encore né, mec</a>
	<ul></ul>
		<li>test1</li>
		<li>test2</li>
		<li>test3</li>
	</ul>
</Layout>
